<%- include('./partials/header.ejs'); %>
<div class="ui center aligned grid container">
    <div class="six wide column">
        <h1>Edit From</h1>
        <form class="ui form" action="/Blogs/<%= blog._id%>?_method=put" method="post">
            <div class="ui left aligned staged segment">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="blog[title]" value="<%= blog.title%>">
                </div>
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="blog[image]" value="<%= blog.image%>">
                </div>
                <div class="field">
                    <label>Body</label>
                    <textarea name="blog[body]" cols="30" rows="10"><%= blog.body%></textarea>
                </div>
                <button class="ui blue basic button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs'); %>